body {
    background-image: url('/static/image/leo2.jpg') no-repeat center fixed;
    background-size: cover;
    font-family: Arial, sans-serif;
}

.newpost {

    padding: 20px;
    margin: 50px auto;
    max-width: 600px;
    border-radius: 10px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
}

.newpost div {
    margin-bottom: 15px;
}

.asdf {
    background-color: none;
}

.newpost label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

.newpost input[type="text"],
.newpost select,
.newpost textarea {
    width: 80%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.newpost textarea {
    height: 150px;

}

.newpost button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

.newpost button:hover {
    background-color: #45a049;
}